:root {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    // font-family: 'Lato', sans-serif;

    // @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    // font-family: 'Montserrat', sans-serif;

    // @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
    // font-family: 'Oswald', sans-serif;

    // @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
    // font-family: 'Monoton', cursive;

    // @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
    // font-family: 'Black Ops One', cursive;

    // @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
    // font-family: 'Montserrat Subrayada', sans-serif;

    // @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
    // font-family: 'Saira Stencil One', cursive;

    // @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
    // font-family: 'Libre Barcode 39 Text', cursive;
    // @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
    // font-family: 'Libre Barcode 39 Extended Text', cursive;
    // @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap');
    // font-family: 'Libre Barcode 39 Extended', cursive;

    // @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
    // font-family: 'Noto Sans JP', sans-serif;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.85;
    // text-align: left;

    --primary-color-dark: rgba(25, 25, 25, 1);
    --primary-color-light: rgba(255, 255, 255, 1);
    --primary-color-yellow: rgba(255, 194, 41, 1);
    --primary-color-gray: rgba(160, 160, 160, 1);
    --success-color-green: rgb(104, 241, 99);

    --logo-size: 1.4rem;
    --nav-height-l: 3.125rem;
    --nav-height-m: 2.5rem;
    --footer-height-l: 2.5rem;
    --footer-height-m: 1.875rem;

    --max-w-1920: 120rem;
    --max-w-1440: 90rem;
    --max-w-960: 60rem;
    --max-w-540: 35rem;
    --min-w-360: 360px;
    --space-5: 0.3125rem;
    --space-6: 0.375rem;
    --space-7h: 0.46875rem;
    --space-8: 0.5rem;
    --space-10: 0.625rem;
    --space-12: 0.75rem;
    --space-15: 0.9375rem;
    --space-20: 1.25rem;
    --space-25: 1.5625rem;
    --space-30: 1.875rem;
    --space-40: 2.5rem;
    --space-48: 3rem;
    --space-50: 3.125rem;
    --space-60: 3.75rem;
    --space-70: 4.375rem;
    --space-80: 5rem;
    --space-90: 5.625rem;
    --space-100: 6.25rem;
    --space-120: 7.5rem;
    --space-140: 8.75rem;
    --space-150: 9.375rem;
    --space-160: 10rem;
    --radius-4: 4px;
    --radius-8: 8px;
    --default-text-align: left;

    --font-weight-300: 300;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-800: 800;

    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-22: 1.375rem;
    --font-size-24: 1.5rem;
    --font-size-26: 1.625rem;
    --font-size-27: 1.6875rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-40: 2.5rem;
    --font-size-42: 2.625rem;
    --font-size-48: 3rem;
    --font-size-54: 3.375rem;
    --font-size-60: 3.75rem;
    --font-size-64: 4rem;
    --font-size-72: 4.5rem;
    --font-size-80: 5rem;
    --font-size-108: 6.75rem;
    --font-size-126: 7.875rem;

    --font-size-128: 8rem;
    --font-size-144: 9rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-darker-white: #eee;
$primary-white: #fff;
$primary-darker-gray: #3c3c44;
$border-radi-xl: 50px;
$border-radi-s: 10px;
$font-size-32: var(--font-size-32);
$font-size-38: var(--font-size-40);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(rgba(47, 150, 163, 1), rgba(48, 62, 143, 1));
    height: 100vh;
    color: $primary-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location,
.temperature {
    width: 50%;
    height: 30vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    h2 {
        font-size: $font-size-38;
    }
    span {
        margin: var(--space-10);
        font-size: $font-size-32;
    }
}

// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

// body {
//     background: url(./weatherAppBG.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     overflow: hidden;
//     height: 100vh;
// }

// .container {
//     padding: var(--space-20) var(--space-80);
//     color: $primary-white;
// }

// .current-info {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }
// .date-container {
//     font-weight: 200;
//     .time {
//         font-size: var(--font-size-72);
//     }
//     .date {
//         font-size: var(--font-size-32);
//     }
//     #am-pm {
//         font-size: var(--font-size-32);
//         margin-left: var(--space-20);
//     }
// }

// .place-container {
//     text-align: end;
//     .time-zone {
//         font-size: var(--font-size-32);
//         font-weight: 200;
//     }
//     .county {
//         font-size: var(--font-size-12);
//         font-weight: 700;
//     }
// }
// .current-info {
//     .others {
//         background: rgba(25, 25, 25, 0.6);
//         padding: var(--space-20);
//         margin: var(--space-10) 0;
//         border: 1px solid $primary-darker-white;
//         border-radius: $border-radi-s;

//         display: flex;
//         flex-direction: column;
//         .weather-item {
//             display: flex;
//             justify-content: space-between;
//         }
//     }
// }

// .future-forecast {
//     position: fixed;
//     bottom: 0;
//     left: 0;

//     background: rgba(35, 35, 35, 0.8);
//     width: 100%;
//     padding: var(--space-30);
//     color: $primary-white;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .today {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .day {
//             background: $primary-darker-gray;
//             padding: var(--space-5) var(--space-15);
//             border-radius: $border-radi-xl;
//             text-align: center;
//         }
//         .temp {
//             font-size: var(--font-size-20);
//             padding-top: var(--space-15);
//         }
//     }

//     .weather-forecast {
//         display: flex;
//         .weather-forecast-item {
//             padding: var(--space-15);
//             margin: 0 var(--space-10);
//             border: 1px solid $primary-darker-white;
//             border-radius: $border-radi-s;

//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;

//             .day {
//                 background: $primary-darker-gray;
//                 padding: var(--space-5) var(--space-10);
//                 border-radius: $border-radi-xl;
//                 text-align: center;
//             }
//             .temp {
//                 font-weight: 200;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 45rem) {
//     body {
//         line-height: 1.2;
//     }
//     .container {
//         padding: var(--space-20);
//     }
//     .date-container {
//         .time {
//             font-size: var(--font-size-48);
//         }
//         .date {
//             font-size: var(--font-size-20);
//         }
//         #am-pm {
//             font-size: var(--font-size-20);
//         }
//     }
//     .current-info {
//         flex-wrap: nowrap;
//         .date-container {
//             .others {
//                 .weather-item {
//                     column-gap: var(--space-60);
//                 }
//             }
//         }
//     }
//     .place-container {
//         text-align: end;
//         margin-top: var(--space-15);
//     }

//     .future-forecast {
//         justify-content: start;
//         align-items: none;
//         overflow-y: scroll;
//         padding: var(--space-20);
//         .today {
//             padding: var(--space-15);
//             border: 1px solid $primary-darker-white;
//             border-radius: $border-radi-s;

//             justify-content: space-between;
//             .temp {
//                 font-size: var(--font-size-24);
//             }
//         }
//     }
// }
